<!-- <p class="text-center"><i title="Show Description" id="prof-desc-ctrl" data-toggle="collapse" data-target="#prof-desc-div" class="fa fa-chevron-circle-down transition rotator" aria-hidden="true"></i></p>
<div id="prof-desc-div" class="collapse">
  <p class="text-center text-lightgrey">description</p>
</div> -->


<!--  -->

<!--
{% for m in messages %}
<li class="transition">
  <div class="row">
    <div class="col-xs-12">
      {% if you.id == m.userA_id %}
      <img width="80px" class="img-left middlr polaroid-3" src="{{ m.userB_rel.avi }}"/>
      <p class="no-marg text-left">
        <a title="See Profile" href="/users/{{  m.userB_rel.uname }}">
          <strong>{{ m.userB_rel.uname }}</strong>
        </a>
      </p>
      {% else %}
      <img width="80px" class="img-left middlr polaroid-3" src="{{ m.userA_rel.avi }}"/>
      <p class="no-marg text-left">
        <a title="See Profile" href="/users/{{  m.userA_rel.uname }}">
          <strong>{{ m.userA_rel.uname }}</strong>
        </a>
      </p>
      {% endif %}
      <br>
      <a data-message-id="{{ m.mid }}" title="See Messages" class="btn btn-xs btn-info transition float-left" ng-click="gool()">Open</a>
    </div>
  </div>
</li>
{% endfor %}



<p>
  <strong>Name: </strong>{[ e.name ]}<br>
  <strong>Description: </strong>{[ e.desc ]}<br>
</p>
<p>
  <strong>Place: </strong>{[ e.place ]}<br>
  <strong>Location: </strong>{[ e.location ]}<br>
</p>
<p>
  <strong>Start: </strong>{[ e.start_full ]}<br>
  <strong>End: </strong>{[ e.end_full ]}<br>
</p>
<p>
  <strong>Categories: </strong>{[ e.categories.split(' ').join(', ') ]}
</p>
<p>
  <strong>Attendees: </strong>{[ e.attendees ]}
</p>

-->
