<!DOCTYPE html>
<html>

<head>
  <title>Epsity | Create</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %} {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link rel="icon" size="20x20" href="/static/img/logo-2.png" />
  <script src="/static/js/grand.js"></script>
  <script src="/static/js/profile.js"></script>
  <script src="/static/js/controllers/create-ctrl.js"></script>


</head>

<body ng-app="epsityApp" ng-controller="createCtrl" class="transition">

  {% include 'topbar-1.html' %}

  <!--  -->

  <div id="main-container">
    <div id="mc-inner" class="">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-9" style="min-height: 25px;">
            <p class="text-center" style="padding: 15px;">{{ message }}</p>
          </div>
          <!--  -->

          <div class="col-md-3">
            <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
              <img class="polaroid-2 middlr" src="{{ you.avi }}" />
              <h3 class="text-center"><strong>{{ you.uname }}</strong></h3>
              <p class="text-center">{{ you.displayname }}</p>
            </div>

            <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
              <p class="text-center"><strong>Create</strong></p>
              <hr class="hr-grey">
              <ul class="nav nav-pills nav-stacked text-center">
                <li role="presentation" class="active"><a data-toggle="tab" href="#new-event-pane">Event</a></li>
                <li role="presentation"><a data-toggle="tab" href="#new-group-pane">Group</a></li>
                <li role="presentation"><a data-toggle="tab" href="#new-convo-pane">Conversation</a></li>
                <li role="presentation"><a data-toggle="tab" href="#new-product-pane">Product</a></li>
                <li role="presentation"><a data-toggle="tab" href="#new-service-pane">Service</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-9" style="min-height: 75vh;">
            <div class="tab-content padd-1 mk-rel sdw-1 sbm-1 bg-white">
              <div id="new-event-pane" class="tab-pane fade in active">
                <div class="row">
                  <h3 class="text-center">Create An Event!</h3>
                  <hr class="hr-grey">
                  <div class="middlr" style="max-width: 95%;">
                    <input id="pac-input" type="text" class="controls" placeholder="Enter a location" style="z-index: 0; position: absolute; left: 114px; top: 0px;" autocomplete="off">
                    <div id="map" class="brd-bl max-w" style="height: 65vh; min-height: 40vh;">

                    </div>
                  </div>
                  <br><br>
                  <p class="text-center">The Place And Location Fields Will Be Filled In<br>By Using The Google Map Search.</p>
                  <br>
                  <form class="middlr" id="create-event-form" enctype="multipart/form-data" action="/action/form/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="createEvent" />

                    <input class="input-t-s1 spacr-2" type="text" name="eventname" placeholder="Event Name..." ng-model="newEventName" required/><br>
                    <input class="input-t-s1 spacr-2" type="text" name="eventplace" placeholder="Event Place..." ng-model="newEventPlace" disabled required/><br>
                    <input class="input-t-s1 spacr-2" type="text" name="eventlocation" placeholder="Event Location..." ng-model="newEventLocation" disabled required/><br>
                    <input class="input-t-s1 spacr-2" type="text" name="eventlink" placeholder="Add a Link..." ng-model="newEventLink"/><br>
                    <textarea style="min-height: 150px;" class="input-t-s1 spacr-2" name="eventdescription" type="text" placeholder="Event Description..." ng-model="newEventDesc" required></textarea><br>
                    <br>
                    <div class="ovf-a padd-1 text-center">
                      <div class="sbm-1 col-sm-6">
                        Start Date
                        <br>
                        <select name="startmonth">
                          <option ng-repeat="m in months" value="{[ m ]}">{[ m ]}</option>
                        </select>
                        <select name="startday">
                          <option ng-repeat="d in currentSelectedMonthS" value="{[ d ]}">{[ d ]}</option>
                        </select>
                        <select name="startyear">
                          <option ng-repeat="y in years" value="{[ y ]}">{[ y ]}</option>
                        </select>
                        <br>
                        Start Time
                        <br>
                        <select name="starthour">
                          <option ng-repeat="h in hours" value="{[ h ]}">{[ h ]}</option>
                        </select>
                        <span> : </span>
                        <select name="startminute">
                          <option ng-repeat="m in minutes" value="{[ m ]}">{[ m ]}</option>
                        </select>
                        <select name="starttime">
                          <option value="AM">AM</option>
                          <option value="PM">PM</option>
                        </select>
                      </div>

                      <div class="sbm-1 col-sm-6">
                        End Date
                        <br>
                        <select name="endmonth">
                          <option ng-repeat="m in months" value="{[ m ]}">{[ m ]}</option>
                        </select>
                        <select name="endday">
                          <option ng-repeat="d in currentSelectedMonthE" value="{[ d ]}">{[ d ]}</option>
                        </select>
                        <select name="endyear">
                          <option ng-repeat="y in years" value="{[ y ]}">{[ y ]}</option>
                        </select>
                        <br>
                        End Time
                        <br>
                        <select name="endhour">
                          <option ng-repeat="h in hours" value="{[ h ]}">{[ h ]}</option>
                        </select>
                        <span> : </span>
                        <select name="endminute">
                          <option ng-repeat="m in minutes" value="{[ m ]}">{[ m ]}</option>
                        </select>
                        <select name="endtime">
                          <option value="AM">AM</option>
                          <option value="PM">PM</option>
                        </select>
                      </div>
                    </div>
                    <br>

                    <input type="hidden" name="origin" value="" />
                    <input type="hidden" name="startfull" value="" />
                    <input type="hidden" name="endfull" value="" />

                    <div class="ovf-a padd-1 text-center">
                      <div class="col-sm-12">
                        <p class="text-center">Categories<br>(No Spaces, Just Single Words)</p>
                      </div>
                      <div class="col-sm-4">
                        <input class="input-t-s1 middlr" type="text" name="categoryone" placeholder="Category 1..."/>
                      </div>
                      <div class="col-sm-4">
                        <input class="input-t-s1 middlr" type="text" name="categorytwo" placeholder="Category 2..."/>
                      </div>
                      <div class="col-sm-4">
                        <input class="input-t-s1 middlr" type="text" name="categorythree" placeholder="Category 3..."/>
                      </div>
                    </div>
                    <br><br>

                    <p class="text-center">Event Icon</p>
                    <input type="file" name="media" class="middlr transition btn btn-default" accept="image/*"/><br>
                    <br>

                    <input class="middlr btn btn-info transition" type="button" value="Create" ng-click="createEvent()" />
                  </form>
                </div>
              </div>

              <div id="new-group-pane" class="tab-pane fade">
                <div class="row">
                  <h3 class="text-center">Create A Group!</h3>
                  <hr class="hr-grey">
                  <form class="middlr" id="create-group-form" enctype="multipart/form-data" action="/action/form/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="createGroup"/>

                    <input class="input-t-s1 middlr" type="text" name="displayname" placeholder="Group Display Name..." ng-model="newGroupName"/><br>
                    <input class="input-t-s1 middlr" type="text" name="uname" placeholder="Group Username..." ng-model="newGroupUserName"/><br>
                    <textarea style="min-height: 150px;" class="input-t-s1 middlr" name="desc" type="text" placeholder="Group Description..." ng-model="newGroupDesc"></textarea><br>
                    <p class="text-center">Group Avatar</p>
                    <input type="file" name="imageFileAvi" class="middlr transition btn btn-default" accept="image/*" /><br><br>
                    <p class="text-center">Group Wallpaper</p>
                    <input type="file" name="imageFileWp" class="middlr transition btn btn-default" accept="image/*" /><br>
                    <input type="hidden" name="origin" value="" />
                    <input class="middlr btn btn-info transition" type="button" value="Create" ng-click="createGroup()" />
                  </form>
                </div>
              </div>

              <div id="new-convo-pane" class="tab-pane fade">
                <div class="row">
                  <h3 class="text-center">Create A Conversation!</h3>
                  <hr class="hr-grey">
                  <div class="col-sm-12">
                    <input class="middlr input-t-s1" type="text" placeholder="New Conversation Name..." ng-model="newConvoName" />
                    <br>
                  </div>
                  <div class="col-sm-4">
                    <div class="">
                      <h4 class="text-center">Search For Users</h4>
                      <br>
                      <input style="width: 375px; max-width: 90%;" type="text" class="middlr input-t-s1" placeholder="Search..." ng-model="searchQuery" /><br>
                      <input type="button" class="middlr btn-sm transition btn btn-info" value="Submit" ng-click="searchUsers()" />
                    </div>
                    <hr>
                    <h4 class="text-center">Selected Users</h4>
                    <br>
                    <div class="overf-box-1">
                      <ul class="ul-raw">
                        <li class="li-style-1 transition" ng-repeat="u in selectedConvoMembers">
                          <div class="row">
                            <div class="col-xs-12">
                              <img width="80px" class="img-left middlr polaroid-3" src="{[ u.avi ]}" />
                              <p class="no-marg text-left">
                                <a title="See Profile" href="/users/{[ u.uname ]}">
                                  <strong>{[ u.uname ]}</strong>
                                </a>
                              </p>
                              <br>
                              <a title="See Messages" class="btn btn-xs btn-danger transition float-left" ng-click="removeSelected(this.u)">Remove</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <h4 class="text-center">Search Results</h4>
                    <hr>
                    <ul class="ul-raw">
                      <li class="li-style-1 transition" ng-repeat="u in srUsers">
                        <div class="row">
                          <div class="col-xs-12">
                            <img width="80px" class="img-left middlr polaroid-3" src="{[ u.avi ]}" />
                            <p class="no-marg text-left">
                              <a title="See Profile" href="/users/{[ u.uname ]}">
                                <strong>{[ u.uname ]}</strong>
                              </a>
                            </p>
                            <br>
                            <a title="See Messages" class="btn btn-xs btn-primary transition float-left" ng-click="addToSelected(this.u)">Add</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-12">
                    <br>
                    <hr>
                    <p class="text-center">
                      <a title="Create Group Message" class="btn btn-success transition" ng-click="checkConvoName()">Create</a>
                    </p>
                  </div>
                </div>
              </div>

              <div id="new-product-pane" class="tab-pane fade">
                <div class="row">
                  <h3 class="text-center">Create A Product!</h3>
                  <hr class="hr-grey">
                  <form class="middlr" id="create-product-form" enctype="multipart/form-data" action="/action/form/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="createProduct" />

                    <input class="input-t-s1 middlr" type="text" name="name" placeholder="Product Name..." ng-model="newProductName" required/><br>
                    <input class="input-t-s1 middlr" type="text" name="link" placeholder="Link..." ng-model="newProductLink" required/><br>
                    <textarea style="min-height: 150px;" class="input-t-s1 middlr" name="desc" type="text" placeholder="Product Description..." ng-model="newProductDesc" required></textarea><br>
                    <input class="input-t-s1 middlr" type="text" name="price" placeholder="Price - Format: 0.00" ng-model="newProductPrice" required/><br>
                    <p class="text-center">Product Icon</p>
                    <input type="file" name="media" class="middlr transition btn btn-default" accept="image/*" /><br><br>
                    <div class="row padd-1">
                      <div class="col-sm-4">
                        <p class="text-center"><strong>Add Product Category</strong></p>
                        <input class="middlr input-t-s1" type="text" placeholder="Product Category" ng-model="newProductCategory"/><br>
                        <p class="text-center"><a class="btn btn-sm btn-info transition" ng-click="addProductCategory()">Add</a></p>
                      </div>
                      <div class="col-sm-8">
                        <ul class="transition ul-raw user-s-list" id="">
                          <li class="transition text-center" ng-repeat="c in productCategories">
                            <p>{[ c ]}</p>
                            <span class="transition btn btn-sm btn-danger " ng-click="deleteProductCategory(this.c)">Delete</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <input type="hidden" name="categories" value="" />
                    <input type="hidden" name="origin" value="" />
                    <input class="middlr btn btn-info transition" type="button" value="Create" ng-click="createProduct()" />
                  </form>
                </div>
              </div>

              <div id="new-service-pane" class="tab-pane fade">
                <div class="row">
                  <h3 class="text-center">Create A Service!</h3>
                  <hr class="hr-grey">
                  <form class="middlr" id="create-service-form" enctype="multipart/form-data" action="/action/form/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="createService"/>

                    <input class="input-t-s1 middlr" type="text" name="name" placeholder="Service Name..." ng-model="newServiceName" required/><br>
                    <input class="input-t-s1 middlr" type="text" name="link" placeholder="Link..." ng-model="newServiceLink" required/><br>
                    <textarea style="min-height: 150px;" class="input-t-s1 middlr" name="desc" type="text" placeholder="Service Description..." ng-model="newServiceDesc"></textarea><br>
                    <input class="input-t-s1 middlr" type="text" name="price" placeholder="Price - Format: 0.00" ng-model="newServicePrice" required/><br>
                    <p class="text-center">Service Icon</p>
                    <input type="file" name="media" class="middlr transition btn btn-default" accept="image/*" /><br><br>
                    <div class="row padd-1">
                      <div class="col-sm-4">
                        <p class="text-center"><strong>Add Service Category</strong></p>
                        <input class="middlr input-t-s1" type="text" placeholder="Service Category" ng-model="newServiceCategory"/><br>
                        <p class="text-center"><a class="btn btn-sm btn-info transition" ng-click="addServiceCategory()">Add</a></p>
                      </div>
                      <div class="col-sm-8">
                        <ul class="transition ul-raw user-s-list" id="">
                          <li class="transition text-center" ng-repeat="c in serviceCategories">
                            <p>{[ c ]}</p>
                            <span class="transition btn btn-sm btn-danger " ng-click="deleteServiceCategory(this.c)">Delete</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <input type="hidden" name="categories" value="" />
                    <input type="hidden" name="origin" value="" />
                    <input class="middlr btn btn-info transition" type="button" value="Create" ng-click="createService()" />
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12"><br></div>
        </div>

      </div>
    </div>
  </div>

  <!--  -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSHPWjouiZzdAI_EhWkuuLsFMEGTgyYWE&libraries=places&callback=initMap" async defer></script>

  <script>

    // var source = new EventSource("/eventsource");
    //
    // source.onopen = function() {
    //   alert('New Connection!');
    // };
    // source.onmessage = function(event) {
    //   alert(event);
    // };

  </script>

</body>

</html>
