<div ng-controller="postsCtrl">
  {% if posts|length == 0 %}
  <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
    <p class="text-center"><strong>No Content To Show, Yet!</strong></p>
  </div>
  {% endif %}

{% for p in posts %}
<div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
  <div class="row">
    <div class="col-sm-3">
      <img width="100px"  class="middlr brd-bl" src="{{ p.owner.avi }}"/><br>
      <p class="text-center"><a title="See {{ p.owner.uname }} Page" href="/users/{{ p.owner.uname }}">{{ p.owner.uname }}</a></p>
    </div>
    <div class="col-sm-9">
      <h4><strong>{{ p.title }}</strong></h4>
      <p>{{ p.contents }}</p>
      <br>

        {% if p.attachment_type == 'Audio' %}
        <div class="polaroid-3 brd-bl">
          <audio class="smb-1 max-w" controls>
            <source src="{{ p.attachment }}" type="">
          </audio>
        </div>
        {% elif p.attachment_type == 'Video' %}
        <div class="polaroid-3 brd-bl">
          <video class="smb-1 max-w" width="320" height="240" controls>
            <source src="{{ p.attachment }}" type="">
          </video>
        </div>
        {% elif p.attachment_type == 'Photo' %}
        <div class="polaroid-3 brd-bl">
          <img class="smb-1 max-w" src="{{ p.attachment }}"/>
        </div>
        {% endif %}

      <p>&nbsp;</p>
      <p class="text-grey text-sm-1"><em>{{ p.date_created }}</em></p>
      <p class="">
        <span class="transition btn-s1 like-btn-o like-btn" data-like-status="{{ p.like_status }}" data-post-id="{{ p.p_id }}" data-post-type="{{ p.post_type }}" data-owner-id="{{ p.ownerid }}" data-owner-type="{{ p.owner_type }}" data-post-status="{{ p.status }}">
          <i class="fa fa-heart" aria-hidden="true"></i> Like
        </span>
        <span data-toggle="collapse" data-target="#cmdv-{{ p.p_id }}" class="transition btn-s1 comment-btn-1 like-btn" data-post-id="{{ p.p_id }}" data-post-type="{{ p.post_type }}" data-owner-id="{{ p.ownerid }}" data-owner-type="{{ p.owner_type }}" data-post-status="{{ p.status }}">
          <i class="fa fa-comments" aria-hidden="true"></i> Comments
        </span>
      </p>
      <hr>
      <p class="">
        <span><strong>Likes:</strong> {{ p.likes }}</span> |
        <span><strong>Comments:</strong> {{ p.comments|length }}</span>
      </p>
      <hr>
      <div class="collapse in" id="cmdv-{{ p.p_id }}">
        <ul id="cmlst-{{ p.p_id }}" class="ul-raw">
          {% for c in p.comments %}
          <li class="">
            <div class="row">
              <div class="col-xs-2">
                <img class="brd-bl max-w" src="{{ c.owner.avi }}"/>
              </div>
              <div class="col-xs-10">
                <p><strong>
                  <a title="See {{ c.owner.uname }} Page" href="/users/{{ c.owner.uname }}">{{ c.owner.uname }}</a>
                </strong></p>
                <p>{{ c.contents }}</p>
                <p class="text-grey text-sm-1">{{ c.date_created }}</p>
                <ul class="ul-raw">

                </ul>
                <input id="cmrly-{{ c.comment_id }}" class="add-reply-box block input-t-s1 transition dsp-n" data-elm-kind="add-reply-box" data-comment-id="{{ c.comment_id }}" data-owner-id="{{ c.ownerid }}" data-owner-type="{{ c.owner_type }}" class="btn btn-default transition" placeholder="Add Reply..."/>
                <input class="add-reply-btn transition btn btn-xs btn-info" type="button" value="Reply" data-comment-id="{{ c.comment_id }}" data-owner-id="{{ c.ownerid }}" data-owner-type="{{ c.owner_type }}"/>
              </div>
            </div>
            <br>
          </li>
          {% endfor %}
        </ul>
      </div>
      <hr>
      <div>
        <textarea id="cmbox-{{ p.p_id }}" class="add-comment-box block input-t-s1 transition dsp-n" data-elm-kind="add-comment-box" data-post-id="{{ p.p_id }}" data-post-type="{{ p.post_type }}" data-owner-id="{{ p.ownerid }}" data-owner-type="{{ p.owner_type }}" data-post-status="{{ p.status }}" placeholder="Add Comment..."></textarea>
        <input class="add-comment-btn transition btn btn-sm btn-info" type="button" value="Add Comment" data-post-id="{{ p.p_id }}" data-post-type="{{ p.post_type }}" data-owner-id="{{ p.ownerid }}" data-owner-type="{{ p.owner_type }}" data-post-status="{{ p.status }}"/>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>

<script src="/static/js/controllers/posts-ctrl.js"></script>
