<!DOCTYPE html>
<html>

<head>
  <title>Epsity | Profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}

  {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link rel="icon" size="20x20" href="/static/img/logo-2.png"/>
  <script src="/static/js/grand.js"></script>
  <script src="/static/js/profile.js"></script>
  <script src="/static/js/controllers/profile-main-ctrl.js"></script>
</head>

  <body ng-app="epsityApp" ng-controller="profileMainCtrl" class="transition">

    {% include 'topbar-1.html' %}

    <!--  -->

    <div id="main-container">
      <div id="mc-inner" style="background: transparent;">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-12" style="height: 25px;"></div>
            <div class="col-md-3">
              <div class="">
                <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <img id="" class="middlr polaroid-2" title="Profile Image" alt="Profile Image" src="{{ you.avi }}"/>
                  <h3 class="text-center"><strong>{{ you.uname }}</strong></h3>
                  <p class="text-center">{{ you.displayname }}</p>
                </div>
                <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <p class="text-center"><strong>Who To Follow</strong></p>
                  <ul>

                  </ul>
                  <p><a title="" href="">See more</a></p>
                </div>

                <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <p class="text-center"><strong>Suggested Groups</strong></p>
                  <ul>

                  </ul>
                  <p><a title="" href="">See more</a></p>
                </div>

              </div>
            </div>

            <!--  -->

            <div class="col-md-6">
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">

                <ul id="">
                  <li >

                  </li>
                </ul>

              </div>
            </div>

            <!--  -->

            <div class="col-md-3">
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <p class="text-center"><strong>Trending Topics</strong></p>
                <ul>

                </ul>
                <p><a title="" href="">See more</a></p>
              </div>
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <p class="text-center"><strong>Related Activity</strong></p>
                <ul>

                </ul>
                <p><a title="" href="">See more</a></p>
              </div>
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <p class="text-center"><strong>Latest Events</strong></p>
                <ul>

                </ul>
                <p><a title="" href="">See more</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </body>

  <!--

    wp = Welcome Page

  -->

</html>
