<!DOCTYPE html>
<html>

<head>
  <title>Epsity | Profile</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}

  {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link rel="icon" size="20x20" href="/static/img/logo-2.png"/>
  <script src="/static/js/grand.js"></script>
  <script src="/static/js/profile.js"></script>
  <script src="/static/js/controllers/profile-main-ctrl.js"></script>
</head>

  <body ng-app="epsityApp" ng-controller="profileMainCtrl" class="transition">

    {% include 'topbar-1.html' %}

    <!--  -->

    <div id="main-container">
      <div id="mc-inner" style="background: transparent;">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-12" style="height: 25px;"></div>
            <div class="col-md-3">
              <div class="">
                <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <img id="" class="middlr polaroid-2" title="Profile Image" alt="Profile Image" src="{{ you.avi }}"/>
                  <h3 class="text-center"><strong>{{ you.uname }}</strong></h3>
                  <p class="text-center">{{ you.displayname }}</p>
                </div>
                <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <p class="text-center"><strong>Who To Follow</strong></p>
                  <ul>

                  </ul>
                  <p><a title="" href="">See more</a></p>
                </div>

                <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <p class="text-center"><strong>Suggested Groups</strong></p>
                  <ul>

                  </ul>
                  <p><a title="" href="">See more</a></p>
                </div>

              </div>
            </div>

            <!--  -->

            <div class="col-md-6">
              {% if posts|length == 0 %}
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <p class="text-center"><strong>Follow Users/Groups To See Their Posts!</strong></p>
              </div>
              {% endif %}

              {% for p in posts %}
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <div class="row">
                  <div class="col-sm-3">
                    <img width="100px"  class="middlr" src="{{ p.owner.avi }}"/><br>
                    <p class="text-center">{{ p.owner.uname }}</p>
                  </div>
                  <div class="col-sm-9">
                    <h3><strong>{{ p.title }}</strong></h3>
                    <p>{{ p.contents }}</p>
                    <br>

                    {% if p.attachment_type == 'Audio' %}
                    <audio class="smb-1 max-w" controls>
                      <source src="{{ p.attachment }}" type="">
                    </audio>
                    {% elif p.attachment_type == 'Video' %}
                    <video class="smb-1 max-w2" width="320" height="240" controls>
                      <source src="{{ p.attachment }}" type="">
                    </video>
                    {% elif p.attachment_type == 'Photo' %}
                    <img class="smb-1 max-w2" src="{{ p.attachment }}"/>
                    {% endif %}

                    <p>&nbsp;</p>
                    <p class="text-grey"><em>{{ p.date_created }}</em></p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

            <!--  -->

            <div class="col-md-3">
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <p class="text-center"><strong>Trending Topics</strong></p>
                <ul>

                </ul>
                <p><a title="" href="">See more</a></p>
              </div>
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <p class="text-center"><strong>Related Activity</strong></p>
                <ul>

                </ul>
                <p><a title="" href="">See more</a></p>
              </div>
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <p class="text-center"><strong>Latest Events</strong></p>
                <ul>

                </ul>
                <p><a title="" href="">See more</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </body>

  <!--

    wp = Welcome Page

  -->

</html>
