<!DOCTYPE html>
<html>

<head>
  <title>Epsity | Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}

  {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link rel="icon" size="20x20" href="/static/img/logo-2.png"/>
  <script src="/static/js/grand.js"></script>
  <script src="/static/js/profile.js"></script>
  <script src="/static/js/controllers/profile-main-ctrl.js"></script>
  <script src="/static/js/controllers/new-posts-ctrl.js"></script>

</head>

  <body ng-app="epsityApp" ng-controller="profileMainCtrl" class="transition">

    {% include 'topbar-1.html' %}

    <!--  -->

    <div id="main-container">
      <div id="mc-inner" style="background: transparent;">
        <div class="container-fluid">
          <i title="Scroll Back To Top" id="arrow-1" class="sdw-1 transition fa fa-arrow-circle-up"></i>

          <div class="row">
            <div class="col-md-12" style="height: 25px;"></div>
            <div id="prof-sidebar1" class="col-md-3">
              <div class="">
                <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <a title="See Your Profile" href="/home/">
                    <img id="" class="middlr polaroid-2" title="Profile Image" alt="Profile Image" src="{{ you.avi }}"/>
                  </a>
                  <h3 class="text-center"><strong>{{ you.uname }}</strong></h3>
                  <p class="text-center">{{ you.displayname }}</p>
                </div>

                <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <p class="text-center"><strong>Latest Events</strong></p>
                  <hr class="hr-grey">
                  <ul>

                  </ul>
                  <p><a title="" href="">See more</a></p>
                </div>

              </div>
            </div>

            <!--  -->

            <div id="prof-sidebar2" class="col-md-3">
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <p class="text-center"><strong>Similar Interests</strong></p>
                <hr class="hr-grey">
                <ul class="ul-raw">
                  {% for u in similar %}
                  <li class="sample-li-s1">
                    <div class="row">
                      <div class="col-xs-4">
                        <img class="max-w" src="{{ u.avi }}"/>
                      </div>
                      <div class="col-xs-8">
                        <p><strong>
                          <a title="See {{ u.uname }} Page" href="/users/{{ u.uname }}">{{ u.uname }}</a>
                        </strong></p>
                        <a class="btn btn-sm btn-info">_action_</a>
                      </div>
                    </div>
                    <br>
                  </li>
                  {% endfor %}
                </ul>
                <p><a title="" href="">See more</a></p>
              </div>

              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <p class="text-center"><strong>Suggested Groups</strong></p>
                <hr class="hr-grey">
                <ul class="ul-raw">
                  {% for g in suggestedGroups %}
                  <li class="sample-li-s1">
                    <div class="row">
                      <div class="col-xs-4">
                        <img class="max-w" src="{{ g.avi }}"/>
                      </div>
                      <div class="col-xs-8">
                        <p><strong>
                          <a title="See {{ g.uname }} Page" href="/groups/{{ g.uname }}">{{ g.uname }}</a>
                        </strong></p>
                        <a class="btn btn-sm btn-info">Request Invite</a>
                      </div>
                    </div>
                    <br>
                  </li>
                  {% endfor %}
                </ul>
                <p><a title="" href="">See more</a></p>
              </div>


            </div>

            <!--  -->

            <div class="col-md-6">
              {% include 'posts-2.html' %}
            </div>
          </div>

        </div>
      </div>
    </div>

  </body>

  <!--

    wp = Welcome Page

  -->

</html>
