<!DOCTYPE html>
<html>

<head>
  <title>Epsity | Search</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}

  {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link rel="icon" size="20x20" href="/static/img/logo-2.png"/>
  <script src="/static/js/grand.js"></script>
  <script src="/static/js/profile.js"></script>
  <script src="/static/js/controllers/search-ctrl.js"></script>
</head>

  <body ng-app="epsityApp" ng-controller="searchCtrl" class="transition">

    {% include 'topbar-1.html' %}

    <!--  -->

    <div id="main-container">
      <div id="mc-inner" class="">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12" style="height: 25px;"></div>

            <div class="col-md-3">
              <div class="padd-1 mk-rel sdw-1 sbm-1">
                <img id="" class="middlr polaroid-2" title="Profile Image" alt="Profile Image" src="{{ you.avi }}"/>
                <p class="text-center"><strong><a title="Go To Profile Page" href="/home/">{{ you.uname }}</a></strong></p>
              </div>
              <div class="padd-1 mk-rel sdw-1 sbm-1">
                <h3 class="text-center">Search</h3>
                <br>
                <input style="width: 375px; max-width: 90%;" type="text" class="block input-t-s1" placeholder="Search..." ng-model="searchQuery"/><br>
                <input type="button" class="block transition btn btn-info" value="Submit" ng-click="submitSearch()"/>
              </div>
            </div>

            <!--  -->

            <div class="col-md-9">
              <div class="padd-1 mk-rel sdw-1 sbm-1">
                <h3 class="text-center">Results</h3>
                <hr>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>

  <!--

    wp = Welcome Page

  -->

</html>
