<!DOCTYPE html>
<html>

<head>
  <title>Epsity | Search Results</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}

  {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link rel="icon" size="20x20" href="/static/img/logo-2.png"/>
  <script src="/static/js/grand.js"></script>
  <!-- <script src="/static/js/controllers/follow-ctrl.js"></script> -->
  <script>
    window.data = {% autoescape off %}{{ dataJSON }}{% endautoescape %};
  </script>
  <script src="/static/js/controllers/search-results-ctrl.js"></script>

  {% if you != None %}
  <script src="/static/js/profile.js"></script>
  <script src="/static/js/controllers/profile-main-ctrl.js"></script>

  {% else %}
  <link rel="stylesheet" type="text/css" href="/static/css/welcome.css">
  <script src="/static/js/welcome.js"></script>
  {% endif %}
</head>

  <body ng-app="epsityApp" ng-controller="searchCtrl" class="transition">

    {% if you != None %}
      {% include 'topbar-1.html' %}
    {% else %}
      {% include 'topbar-2.html' %}
    {% endif %}

    <!--  -->

    <div id="main-container">
      <div id="mc-inner" class="">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12" style="height: 25px;"></div>

            <div class="col-md-3">
              {% if you != None %}
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <img id="" class="middlr polaroid-2" title="Profile Image" alt="Profile Image" src="{{ you.avi }}"/>
                <h3 class="text-center"><strong>{{ you.uname }}</strong></h3>
                <p class="text-center">{{ you.displayname }}</p>
              </div>
              {% endif %}
              <div id="fixed-box-1" class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <h3 class="text-center">Search</h3>
                <hr class="hr-grey">
                <ul class="transition text-center ul-raw ul-s1">
                  <li role="presentation"><a href="#users-pane">Users</a></li>
                  <li role="presentation"><a  href="#groups-pane">Groups</a></li>
                  <li role="presentation"><a  href="#events-pane">Events</a></li>
                  <li role="presentation"><a  href="#products-pane">Products</a></li>
                  <li role="presentation"><a href="#services-pane">Services</a></li>
                  <li role="presentation"><a href="#posts-pane">Posts</a></li>
                </ul>
              </div>
            </div>

            <!-- ng-controller="followCtrl" -->

            <div class="col-md-9">
              <div id="users-pane" class="padd-1 mk-rel sdw-1 sbm-1 bg-white" style="overflow: hidden;">
                <p class="text-center p-emp-1"><strong>Users</strong></p>
                <hr class="hr-grey">
                <ul id="sr-users-list">
                  <li ng-repeat="u in srUsers">
                    <div class="sr-inner-div">
                      <div class="fill mk-rel sdw-1" style="background-image: url('{[ u.background ]}');">
                        <div class="dim"></div>
                        <div class="mk-rel">
                          <img class="sr-user-avi" src="{[ u.avi ]}"/><br>
                          <h4 class="text-center text-lightgrey text-sdw-2"><strong><a class="transition text-sdw-2" title="See {[ u.uname ]}'s Page" href="/users/{[ u.uname ]}">{[ u.uname ]}</a></strong></h4>
                          {% if you != None %}<p class="text-center"><a class="sdw-1 transition btn btn-{[ u.btn ]}" title="{[ u.title ]}" ng-click="followAction(this.u)">{[ u.msg ]}</a></p>{% endif %}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <br>

              <div id="groups-pane" class="padd-1 mk-rel sdw-1 sbm-1 bg-white" style="overflow: hidden;">
                <p class="text-center p-emp-1"><strong>Groups</strong></p>
                <hr class="hr-grey">
                <ul id="sr-users-list">
                  <li ng-repeat="g in srGroups">
                    <div class="sr-inner-div">
                      <div class="fill mk-rel sdw-1" style="background-image: url('{[ g.background ]}');">
                        <div class="dim"></div>
                        <div class="mk-rel">
                          <img class="sr-user-avi" src="{[ g.avi ]}"/><br>
                          <h4 class="text-center text-lightgrey text-sdw-2"><strong><a class="transition text-sdw-2" title="See {[ g.uname ]}'s Page" href="/groups/{[ g.uname ]}">{[ g.uname ]}</a></strong></h4>
                          {% if you != None %}<p class="text-center"><a class="sdw-1 transition btn btn-{[ g.btn ]}" title="{[ g.title ]}" ng-click="groupActionTwo(this.g)">{[ g.msg ]}</a></p>{% endif %}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <br>

              <div  id="events-pane" class="padd-1 mk-rel sdw-1 sbm-1 bg-white" style="overflow: hidden;">
                <p class="text-center p-emp-1"><strong>Events</strong></p>
                <hr class="hr-grey">
                <ul id="sr-users-list">
                  <li ng-repeat="e in srEvents">
                    <div class="sr-inner-div">
                      <div class="fill mk-rel sdw-1" style="background-image: url('{[ e.attachment ]}');">
                        <div class="dim"></div>
                        <div class="mk-rel">
                          <h4 style="padding: 8vh 10px 8px 10px;" class="text-center text-lightgrey text-sdw-1"><strong>{[ e.name ]}</strong></h4>
                          <p class="text-center text-white text-sdw-1"><a class="transition text-sdw-1" title="See Full" href="/events/{[ e.eid ]}"><strong>See Full Info</strong></a></p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <br>

              <div id="products-pane" class="padd-1 mk-rel sdw-1 sbm-1 bg-white" style="overflow: hidden;">
                <p class="text-center p-emp-1"><strong>Products</strong></p>
                <hr class="hr-grey">
                <ul id="sr-users-list">
                  <li ng-repeat="p in srProducts">
                    <div class="sr-inner-div">
                      <div class="fill mk-rel sdw-1" style="background-image: url('{[ p.attachment ]}');">
                        <div class="dim"></div>
                        <div class="mk-rel">
                          <h4 style="padding: 8vh 10px 8px 10px;" class="text-center text-lightgrey text-sdw-1"><strong>{[ p.name ]}</strong></h4>
                          <p class="text-center text-white text-sdw-1"><a class="transition text-sdw-1" title="See Full" href="/products/{[ p.product_id ]}"><strong>See Full Info</strong></a></p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <br>

              <div  id="services-pane" class="padd-1 mk-rel sdw-1 sbm-1 bg-white" style="overflow: hidden;">
                <p class="text-center p-emp-1"><strong>Services</strong></p>
                <hr class="hr-grey">
                <ul id="sr-users-list">
                  <li ng-repeat="s in srServices">
                    <div class="sr-inner-div">
                      <div class="fill mk-rel sdw-1" style="background-image: url('{[ s.attachment ]}');">
                        <div class="dim"></div>
                        <div class="mk-rel">
                          <h4 style="padding: 8vh 10px 8px 10px;" class="text-center text-lightgrey text-sdw-1"><strong>{[ s.name ]}</strong></h4>
                          <p class="text-center text-white text-sdw-1"><a class="transition text-sdw-1" title="See Full" href="/services/{[ s.service_id ]}"><strong>See Full Info</strong></a></p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <br>

              <div id="posts-pane" class="padd-1 mk-rel sdw-1 sbm-1 bg-white" style="overflow: hidden;">
                <p class="text-center p-emp-1"><strong>Posts</strong></p>
                <hr class="hr-grey">

                <div class="row sbm-1" ng-repeat="p in srPosts">
                  <div class="col-md-12">
                    <div class="bg-grey-2 padd-2 ovf-h brd-bl">
                      <div class="col-md-2">
                        <img width="100px" class="middlr" src="{[ p.owner.avi ]}"/>
                        <p class="text-center"><a title="See {[ p.owner.uname ]} Page" href="/users/{[ p.owner.uname ]}"><strong>{[ p.owner.uname ]}</strong></a></p>
                      </div>
                      <div class="col-md-9">
                        <h4><strong>{[ p.title ]}</strong></h4>
                        <p>{[ p.contents ]}</p>
                        <br>
                        <p class="text-sm-1"><span id="post-link"><strong><a title="See Whole Post" href="/posts/{[ p.p_id ]}">See Whole Post</a></strong></span></p>
                        <p><a title="Post Link" href="{[ p.link ]}">{[ p.link != '' ? p.link : '' ]}</a></p>
                        <br>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>

  <!--

    wp = Welcome Page

  -->

</html>
