<!DOCTYPE html>
<html>

  <head>
    <title>Epsity | Sign Up!</title>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="https://ryanwaite28.github.io/my-cdn/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="https://ryanwaite28.github.io/my-cdn/css/emerald.css"/>
    <link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
    <link rel="stylesheet" type="text/css" href="/static/css/welcome.css">
    <link rel="icon" size="20x20" href="/static/img/logo-2.png"/>
    <script src="https://ryanwaite28.github.io/my-cdn/js/jquery.js"></script>
    <script src="https://ryanwaite28.github.io/my-cdn/js/parallax/parallax.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://ryanwaite28.github.io/my-cdn/js/bootstrap.js"></script>
    <script src="https://ryanwaite28.github.io/my-cdn/js/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
    <script src="/static/js/grand.js"></script>
    <script src="/static/js/welcome.js"></script>
  </head>

  <body style="background: #fbfbfb;" ng-app="epsityApp" ng-controller="epsityCtrl" class="transition">

    <img style="margin-top: 20px;" class="middlr icon-spinner-1 transition" src="/static/img/logo-2.png"/>
    <h3 class="text-center"><strong>Epsity</strong></h3>
    <p class="text-center">Sign Up!</p>
    <hr style="border-color: grey;"><br>

    <div id="fg-div">
      <img ng-click="signup('google')" class="middlr fadein-1 transition" id="g-sign-in" src="http://commondatastorage.googleapis.com/io-2013/presentations/808/images/sign-in-button.png">
      <br><p class="text-center">Or</p><br>
      <img style="cursor: pointer; width: 200px;" class="middlr fadein-1 ico transition" ng-click="signup('facebook')" src="http://i.stack.imgur.com/ZW4QC.png">
      <br>
    </div>

    <p id="s-msg" class="text-center"></p>

    <br>

    <form class="middlr" id="signup-form" enctype="multipart/form-data" action="/signup/" method="POST">{% csrf_token %}
        <input name="displayname" type="hidden" placeholder="Display Name" required/>
        <input name="provider" type="hidden" placeholder="Provider" required/>
        <input name="providerid" type="hidden" placeholder="Provider ID" required/>
        <input name="email" type="hidden" placeholder="Email" required/>
        <input name="uid" type="hidden" placeholder="Password" required/>
        <input name="image" type="hidden" placeholder="image" required/>

      <input name="uname" type="text" placeholder="User Name" required/>
      <br>
      <input id="submit-btn" class="transition btn btn-success" type="button" value="Create"/>
    </form>

    <br>

    <p class="text-center"><strong>{{ error }}</strong></p>

    <img class="middlr" style="width: 125px; display: none;" id="loading-gif-1" src="/static/img/ajax-loading-big.gif">
    <br>
    <hr style="border-color: grey;">

    <p class="text-center"><a title="Back To Welcome Screen" href="/">Home</a></p>
    <p class="text-center"><a title="Go To Login Page" href="/login">Login</a></p>

    <style>

      #signup-form {
        width: 375px;
      }
      #signup-form input {
        display: block;
        margin: auto;
        margin-bottom: 15px;
      }

    </style>

  </body>

  <!--

    wp = Welcome Page

  -->

</html>
