<!DOCTYPE html>
<html>

<head>
  <title>Epsity | Testing</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}

  {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link rel="icon" size="20x20" href="/static/img/logo-2.png"/>
  <script src="/static/js/grand.js"></script>
  <script src="/static/js/profile.js"></script>
  <script src="/static/js/controllers/conversations-ctrl.js"></script>
  <!-- <script src="/static/js/controllers/follow-ctrl.js"></script> -->
</head>

  <body ng-app="epsityApp" ng-controller="testingCtrl" class="transition">

    {% include 'topbar-1.html' %}

    <!--  -->

    <div id="main-container">
      <div id="mc-inner" style="background: transparent;">
        <div class="container-fluid">

          <div style="min-height: 45vh;" class="row fill transition bg-white">
            <br>
            <input id="media" type="file" name="media" class="middlr btn btn-default"/>
            <br>
            <input class="middlr transition btn btn-info" ng-click="test()" value="Test"/>
          </div>

          <div id="demo">

          </div>

        </div>
      </div>
    </div>

    <!--  -->

    <script>

      App.controller('testingCtrl', ['$scope', '$http' , function($scope, $http){

        console.log('We In Here!');


        $scope.test = function() {

          var formData = new FormData();
          var input = document.getElementById('media');
          formData.append('media' , input.files[0]);
          formData.append('text' , 'Admit One');
          console.log(input.files[0]);

          $http({
            method: 'POST',
            url: '/testing/',
            headers: {
              'Content-Type': undefined,
              'X-CSRFToken': Cookies.get('csrftoken')
            },
            processData: false,
            data: formData
          }).then(function(resp){
            // Success Callback
            console.log(resp);

            var elm = $(resp.data.test_html);
            $(elm).hide().prependTo('#demo').fadeIn('fast');
          },
          function(resp){
            // Error Callback
            console.log(resp);
          });

        }

      }])

    </script>
  </body>

</html>
