<div id="top-bar" class="black-grade transition">
  <div id="top-bar-inner">

    <div id="p-logo-1-c">
      <a title="Home Page" href="/"><img id="p-logo-1" class="transition" src="/static/img/logo-1.png"/></a>
    </div>

    <div id="tb-collapse" class="transition collapse in">
      <div id="p-sd">
        <div class="input-group" id="p-sb2">
          <input type="text" class="form-control transition" placeholder="Search for...">
          <span class="input-group-btn transition">
            <button class="btn btn-default transition" type="button">Go!</button>
          </span>
        </div>
      </div>

      <div id="p-ld">
        <ul class="ul-raw" id="tb-links">
          <li title="Notifications"><i class="fa fa-bolt tb-icons" aria-hidden="true"></i>
            <div class="transition li-dropdown-s1">
              <h4 class="text-center"><strong>Notifications</strong></h4>

              <ul class="ul-raw tb-ul">

              </ul>
            </div>
          </li>
          <li title="Messages"><i class="fa fa-envelope-o tb-icons" aria-hidden="true"></i>
            <div class="transition li-dropdown-s1">
              <h4 class="text-center"><strong>Messages</strong></h4>

              <ul class="ul-raw tb-ul">

              </ul>
            </div>
          </li>
          <li title="User Pages"><i class="fa fa-user-circle-o tb-icons" aria-hidden="true"></i>
            <div class="transition li-dropdown-s1">
              <h4 class="text-center"><strong>Pages</strong></h4>

              <ul class="ul-raw tb-ul">
                <li><a title="Dashboard" href="/main">Dashboard</a></li>
                <li><a title="Home Page" href="/home">Profile</a></li>
                <li><a title="" href="">Video</a></li>
                <li><a title="" href="">Photo</a></li>
                <li><a title="" href="">Audio</a></li>
              </ul>
            </div>
          </li>
          <li title="More Links"><i class="fa fa-chevron-circle-down tb-icons" aria-hidden="true"></i>
            <div class="transition li-dropdown-s1">
              <h4 class="text-center"><strong>Links</strong></h4>

              <ul class="ul-raw tb-ul">
                <li><a title="" href="">New Post</a></li>
                <li><a title="Search Page" href="/search">Search</a></li>
                <li><a title="Create Page" href="/create">Create</a></li>
                <li><a title="Settings Page" href="/mysettings">Setings</a></li>
                <li><a title="" href="">Help</a></li>
                <li><a title="FAQ Page" href="">FAQ</a></li>
                <li><a title="Log Out" href="/logout"><strong>Logout</strong></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="menu-c" class="transition">
      <i id="tb-menu-btn" class="fa fa-bars transition" aria-hidden="true" data-toggle="collapse" data-target="#tb-collapse"></i>
    </div>

  </div>
</div>
