<div id="top-bar-1" class="black-grade transition">
  <div id="top-bar-inner">

    <div id="p-logo-1-c">
      <a title="Home Page" href="/"><img id="p-logo-1" class="transition" src="/static/img/logo-1.png"/></a>
    </div>

    <div id="tb-collapse" class="transition collapse in">
      <div ng-controller="topbarSearchCtrl" id="p-sd">
        <div class="input-group" id="p-sb2">
          <input type="text" class="form-control transition" placeholder="Search for..." ng-model="searchquery">
          <span class="input-group-btn transition">
            <button class="btn btn-default transition" type="button" ng-click="topbarSearch()">Go!</button>
          </span>
        </div>
      </div>

      <div id="p-ld">
        <ul class="ul-raw" id="tb-links">
          <li data-name="notes" title="Notifications"><i class="fa fa-bolt tb-icons point-cursor" aria-hidden="true"></i>
            <div class="transition li-dropdown-s1">
              <h4 class="text-center"><strong>Notifications</strong></h4>
              <ul class="ul-raw tb-ul">
                <li><a title="Notifications Page" href="/notifications">See All</a></li>
                <li></li>
                <li><a title="See Trending Activity" href="/trending">Trending</a></li>
                <li><a title="Discover New Stuff" href="/discover">Discover</a></li>
                <li><a title="Find Recent Items" href="/newest">Newest</a></li>
                <li><a title="Featured Activity" href="/featured">Featured</a></li>
              </ul>
            </div>
          </li>

          <!-- <li title="Messages"><i class="fa fa-envelope-o tb-icons" aria-hidden="true"></i>
            <div class="transition li-dropdown-s1">
              <h4 class="text-center"><strong>Messages</strong></h4>
            </div>
          </li> -->

          <li data-name="user" title="User Pages"><i class="fa fa-user-circle-o tb-icons point-cursor" aria-hidden="true"></i>
            <div class="transition li-dropdown-s1">
              <h4 class="text-center"><strong>Pages</strong></h4>

              <ul class="ul-raw tb-ul">
                <li><a title="Dashboard" href="/main">Dashboard</a></li>
                <li><a title="Home Page" href="/home">Profile</a></li>
                <li><a title="Go To Messages Page" href="/messages">Messages</a></li>
                <li><a title="Go To Conversations Page" href="/conversations">Conversations</a></li>
              </ul>
            </div>
          </li>

          <li data-name="links" title="More Links"><i class="fa fa-chevron-circle-down tb-icons point-cursor" aria-hidden="true"></i>
            <div class="transition li-dropdown-s1">
              <h4 class="text-center"><strong>Links</strong></h4>

              <ul class="ul-raw tb-ul">
                <li><a title="Search Page" href="/search">Search</a></li>
                <li><a title="Create Page" href="/create">Create</a></li>
                <li><a title="Settings Page" href="/mysettings">Settings</a></li>
                <li><a title="" href="">Help</a></li>
                <li><a title="FAQ Page" href="">FAQ</a></li>
                <li><a title="Log Out" href="/logout"><strong>Logout</strong></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="menu-c" class="transition">
      <i id="tb-menu-btn" class="fa fa-bars transition" aria-hidden="true" data-toggle="collapse" data-target="#tb-collapse"></i>
    </div>

  </div>
</div>

<!-- Search Script -->

<script>

  $(document).ready(function(){

    var current_li = {
      name: '',
      elm: ''
    };

    $(document).on('click', '#tb-links > li', function(){

      var li = $(this);
      // console.log(current_li, li);

      if( li.data('name') == current_li.name ) {
        if( li.find('.li-dropdown-s1').hasClass('show-it') == true ) {
          li.find('.li-dropdown-s1').removeClass('show-it');
        }
        else {
          li.find('.li-dropdown-s1').addClass('show-it');
        }
        return;
      }

      current_li.name = li.data('name');
      current_li.elm = li;

      $('.li-dropdown-s1').removeClass('show-it');
      li.find('.li-dropdown-s1').addClass('show-it');

    });

    $(document).on('mouseleave', '#tb-links > li > .li-dropdown-s1', function(){
      $(this).removeClass('show-it');
    });

  });

  App.controller('topbarSearchCtrl', ['$scope', '$http', function($scope, $http) {

    $scope.topbarSearch = function() {
      if($scope.searchquery == undefined) {
        $scope.searchquery = '';
      }

      location.href = '/search/results/' + $scope.searchquery;
    }

  }]);

</script>
