<!DOCTYPE html>
<html>

<head>
  <title>Epsity | Newest</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% load staticfiles %} {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link rel="icon" size="20x20" href="/static/img/logo-2.png" />
  <script src="/static/js/grand.js"></script>

  {% if you != None %}
  <script src="/static/js/profile.js"></script>
  <script src="/static/js/controllers/profile-main-ctrl.js"></script>
  <script src="/static/js/controllers/newest-ctrl.js"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="/static/css/welcome.css">
  <script src="/static/js/welcome.js"></script>
  {% endif %}

</head>

{% if you != None %}

<body ng-app="epsityApp" ng-controller="newestCtrl" class="transition">
  {% else %}

  <body ng-app="epsityApp" ng-controller="welcomeCtrl" class="transition">
    {% endif %} {% if you != None %} {% include 'topbar-1.html' %} {% else %} {% include 'topbar-2.html' %} {% endif %}

    <!--  -->

    <div id="main-container">
      <div id="mc-inner" style="background: transparent;">
        <div class="container-fluid">
          <i title="Scroll Back To Top" id="arrow-1" class="sdw-1 transition fa fa-arrow-circle-up back-to-top"></i>

          <div class="row">
            <div class="col-md-12" style="height: 25px;">
            </div>

            <div id="" class="col-md-3">
              <div class="">
                {% if you != None %}
                <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <a title="See Your Profile" href="/home/">
                    <img id="" class="middlr polaroid-2" title="Profile Image" alt="Profile Image" src="{{ you.avi }}" />
                  </a>
                  <h3 class="text-center"><strong>{{ you.uname }}</strong></h3>
                  <p class="text-center">{{ you.displayname }}</p>
                </div>
                {% endif %}

                <div id="fixed-box-1" class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <h4 class="text-center">Trending</h4>
                  <hr class="hr-grey">
                  <ul class="transition text-center ul-raw ul-s1">
                    <li role="presentation"><a href="#users-pane">Users</a></li>
                    <li role="presentation"><a  href="#groups-pane">Groups</a></li>
                    <li role="presentation"><a  href="#events-pane">Events</a></li>
                    <li role="presentation"><a  href="#products-pane">Products</a></li>
                    <li role="presentation"><a href="#services-pane">Services</a></li>
                    <li role="presentation"><a href="#posts-pane">Posts</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div id="" class="col-md-9">
              <div class="">
                <div class="transition  padd-1 mk-rel sdw-1 sbm-1 bg-white">

                  <div id="users-pane" class="transition  ">
                    <h3 class="text-center">Users</h3>
                    <hr class="hr-grey">
                    <div class="row sbm-1">
                      {% for u in users %}
                      <div class="col-md-6 sbm-1">
                        <div class="fill mk-rel" style="background-image: url('{{ u.background }}'); padding: 50px 10px;">
                          <div class="dim"></div>
                          <div class="row">
                            <div class="col-xs-12">
                              <img width="100px" class="middlr max=w2" src="{{ u.avi }}" />
                            </div>
                            <div class="col-xs-12">
                              <p class="text-center"><strong>
                                <a title="See {{ u.uname }} Page" href="/users/{{ u.uname }}">{{ u.uname }}</a>
                              </strong></p>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>

                  <div id="groups-pane" class="transition  ">
                    <hr class="hr-grey">
                    <h3 class="text-center">Groups</h3>
                    <hr class="hr-grey">
                    <div class="row sbm-1">
                      {% for g in groups %}
                      <div class="col-md-6 sbm-1">
                        <div class="fill mk-rel" style="background-image: url('{{ g.background }}'); padding: 50px 10px;">
                          <div class="dim"></div>
                          <div class="row">
                            <div class="col-xs-12">
                              <img width="100px" class="middlr max=w2" src="{{ g.avi }}" />
                            </div>
                            <div class="col-xs-12">
                              <p class="text-center"><strong>
                                <a title="See {{ g.uname }} Page" href="/users/{{ g.uname }}">{{ g.uname }}</a>
                              </strong></p>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>

                  <div id="events-pane" class="transition  ">
                    <hr class="hr-grey">
                    <h3 class="text-center">Events</h3>
                    <hr class="hr-grey">
                    <div class="row sbm-1">
                      {% for e in events %}
                      <div class="col-md-6 sbm-1">
                        <div class="fill mk-rel" style="background-image: url('{{ e.attachment }}'); padding: 50px 10px;">
                          <div class="dim"></div>
                          <div class="row">
                            <div class="col-xs-12">
                              <p class="text-center text-white text-sdw-1">
                                <strong>Name: </strong>{{ e.name }}<br>
                                <strong>See Full: </strong><a title="See Full Event" href="/events/{{ e.eid }}">Click Here</a>
                              </p>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>

                  <div id="products-pane" class="transition  ">
                    <hr class="hr-grey">
                    <h3 class="text-center">Products</h3>
                    <hr class="hr-grey">
                    <div class="row sbm-1">
                      {% for p in products %}
                      <div class="col-md-6 sbm-1">
                        <div class="fill mk-rel" style="background-image: url('{{ p.attachment }}'); padding: 50px 10px;">
                          <div class="dim"></div>
                          <div class="row">
                            <div class="col-xs-12">
                              <p class="text-center text-white text-sdw-1">
                                <strong>Name: </strong>{{ p.name }}<br>
                                <strong>Price: </strong>{{ p.price }}<br>
                                <strong>See Full: </strong><a title="See Full Event" href="/products/{{ p.product_id }}">Click Here</a>
                              </p>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>

                  <div id="services-pane" class="transition  ">
                    <hr class="hr-grey">
                    <h3 class="text-center">Services</h3>
                    <hr class="hr-grey">
                    <div class="row sbm-1">
                      {% for s in services %}
                      <div class="col-md-6 sbm-1">
                        <div class="fill mk-rel" style="background-image: url('{{ s.attachment }}'); padding: 50px 10px;">
                          <div class="dim"></div>
                          <div class="row">
                            <div class="col-xs-12">
                              <p class="text-center text-white text-sdw-1">
                                <strong>Name: </strong>{{ s.name }}<br>
                                <strong>Price: </strong>{{ s.price }}<br>
                                <strong>See Full: </strong><a title="See Full Event" href="/products/{{ s.service_id }}">Click Here</a>
                              </p>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>

                  <div id="posts-pane" class="transition  ">
                    <hr class="hr-grey">
                    <h3 class="text-center">Posts</h3>
                    <hr class="hr-grey">
                    {% for p in posts %}
                    <div class="row sbm-1">
                      <div class="col-md-12">
                        <div class="bg-grey-2 padd-2 ovf-h brd-bl">
                          <div class="col-md-2">
                            <img width="100px" class="middlr" src="{{ p.owner.avi }}"/>
                            <p class="text-center"><a title="See {{ p.owner.uname }} Page" href="/users/{{ p.owner.uname }}"><strong>{{ p.owner.uname }}</strong></a></p>
                          </div>
                          <div class="col-md-9">
                            <h4><strong>{{ p.title }}</strong></h4>
                            <p>{{ p.contents }}</p>
                            <br>
                            <p class="text-sm-1"><span id="post-link"><strong><a title="See Whole Post" href="/posts/{{ p.p_id }}">See Whole Post</a></strong></span></p>
                            {% if p.link != '' %}<p><a title="Post Link" href="{{ p.link }}">Link</a></p>{% endif %}
                            <br>
                            {% if p.attachment_type == 'Audio' %}
                            <div class="polaroid-3 brd-bl">
                              <audio class="smb-1 max-w media-elm" controls>
                                <source src="{{ p.attachment }}" type="">
                              </audio>
                            </div>
                            {% elif p.attachment_type == 'Video' %}
                            <div class="polaroid-3 brd-bl">
                              <video class="smb-1 max-w media-elm" width="320" height="240" controls>
                                <source src="{{ p.attachment }}" type="">
                              </video>
                            </div>
                            {% elif p.attachment_type == 'Photo' %}
                            <div class="polaroid-3 brd-bl">
                              <img class="smb-1 max-w" src="{{ p.attachment }}" />
                            </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script>
    </script>

  </body>

  <!--

    wp = Welcome Page

  -->

</html>
