<!DOCTYPE html>
<html>

<head>
  <title>Epsity | Settings</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}

  {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link rel="icon" size="20x20" href="/static/img/logo-2.png"/>
  <script src="/static/js/grand.js"></script>
  <script src="/static/js/profile.js"></script>
  <script src="/static/js/controllers/user-settings-ctrl.js"></script>
</head>

  <body ng-app="epsityApp" ng-controller="settingsCtrl" class="transition ">

    {% include 'topbar-1.html' %}

    <!--  -->

    <div id="main-container">
      <div id="mc-inner" class="transition ">
        <div class="transition container-fluid">

          <div class="transition row">
            <div class="transition col-md-3"></div>
            <div class="transition col-md-9" style="min-height: 25px;"><p class="transition text-center" style="padding: 15px;">{{ message }}</p></div>
            <!--  -->

            <div class="transition col-md-3">
              <div class="transition padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <img class="transition polaroid-2 middlr" src="{{ you.avi }}"/>
                <h3 class="transition text-center"><strong>{{ you.uname }}</strong></h3>
                <p class="transition text-center">{{ you.displayname }}</p>
              </div>

              <div class="transition padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <ul class="transition nav nav-pills nav-stacked text-center">
                  <li role="presentation" class="transition active"><a data-toggle="tab" href="#bio-pane">Bio</a></li>
                  <li role="presentation"><a data-toggle="tab" href="#int-pane">Info</a></li>
                  <li role="presentation"><a data-toggle="tab" href="#apr-pane">Appearance</a></li>
                  <li role="presentation"><a data-toggle="tab" href="#groups-pane">Groups</a></li>
                  <li role="presentation"><a data-toggle="tab" href="#del-pane">Delete</a></li>
                </ul>
              </div>
            </div>

            <div class="transition col-md-9" style="min-height: 75vh;">
              <div>
                <div class="transition tab-content padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <div id="bio-pane" class="transition tab-pane fade in active">
                    <div>
                      <h3 class="transition text-center"><strong>Bio</strong></h3>
                      <hr class="transition hr-grey">
                      <p class="transition text-center">Edit Your Bio<br>Max Length: 150 Characters.</p>
                      <br>
                      <form class="transition middlr" id="bio-form" enctype="multipart/form-data" action="/user/settingsaction/form/" method="POST">{% csrf_token %}
                        <textarea class="transition middlr" id="update-bio-content" name="bio" placeholder="Bio Message...">{% autoescape off %}{{ you.bio_desc }}{% endautoescape %}</textarea>
                        <input type="hidden" name="action" value="update bio"/>
                        <br>
                        <input ng-hide="updateBioBtn" title="Update Bio" class="transition middlr  btn btn-info" type="button" value="Update" ng-click="updateAccountBio()"/>
                        <br>
                        <img width="125px" src="/static/img/ajax-loading-big.gif" ng-hide="updateBioImg"/>
                        <p class="transition text-center">{[ updateBioMsg ]}</p>
                      </form>
                    </div>
                  </div>

                  <div id="int-pane" class="transition tab-pane fade">
                    <h3 class="transition text-center"><strong>Info</strong></h3>
                    <hr class="transition hr-grey">
                    <div class="transition row padd-1">
                      <div class="transition col-md-12 box-s1">
                        <div class="transition col-md-12"><h4 class="transition text-center">Interests<br>{[ interestsList.length ]}</h4><br></div>
                        <div class="transition col-md-4">
                          <input class="transition middlr input-t-s1" type="text" placeholder="Add Interest" ng-model="newInterest"/><br>
                          <input class="transition middlr btn btn-info " type="button" value="Add" ng-click="addNewInterest()"/><br>
                          <p><strong>{[ interestMsg ]}</strong></p>
                          <br>
                          <div ng-hide="editInterestForm">
                            <p class="transition text-center">Edit Interest</p>
                            <input class="transition middlr input-t-s1" type="text" placeholder="Edit Interest" ng-model="editInterest"/><br>
                            <div class="transition text-center">
                              <input class="transition btn btn-info " type="button" value="Edit" ng-click="confirmEditInterest()"/>
                              <input class="transition btn btn-default " type="button" value="Cancel" ng-click="cancelAddItem('interest')"/><br>
                            </div>
                          </div>
                        </div>
                        <div class="transition col-md-8">
                          <ul class="transition ul-raw user-s-list" id="">
                            <li class="transition " ng-repeat="i in interestsList">
                              <p>{[ i ]}</p>
                              <span class="transition btn btn-warning " ng-click="editInterestItem(this.i)">Edit</span>
                              <span class="transition btn btn-danger " ng-click="deleteListItem(this.i, 'interest')">Delete</span>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="transition col-md-12"><br></div>

                      <div class="transition col-md-12 box-s1">
                        <div class="transition col-md-12"><h4 class="transition text-center">Seeking<br>{[ seekingList.length ]}</h4><br></div>
                        <div class="transition col-md-4">
                          <input class="transition middlr input-t-s1" type="text" placeholder="Add Seeking" ng-model="newSeeking"/><br>
                          <input class="transition middlr btn btn-info " type="button" value="Add" ng-click="addNewSeeking()"/><br>
                          <p><strong>{[ seekingMsg ]}</strong></p>
                          <br>
                          <div ng-hide="editSeekingForm">
                            <p class="transition text-center">Edit Seeking</p>
                            <input class="transition middlr input-t-s1" type="text" placeholder="Edit Seeking" ng-model="editSeeking"/><br>
                            <div class="transition text-center">
                              <input class="transition btn btn-info " type="button" value="Edit" ng-click="confirmEditSeeking()"/>
                              <input class="transition btn btn-default " type="button" value="Cancel" ng-click="cancelAddItem('seeking')"/><br>
                            </div>
                          </div>
                        </div>
                        <div class="transition col-md-8">
                          <ul class="transition ul-raw user-s-list" id="">
                            <li class="transition " ng-repeat="s in seekingList">
                              <p>{[ s ]}</p>
                              <span class="transition btn btn-warning " ng-click="editSeekingItem(this.s)">Edit</span>
                              <span class="transition btn btn-danger " ng-click="deleteListItem(this.s, 'seeking')">Delete</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="apr-pane" class="transition tab-pane fade">
                    <h3 class="transition text-center"><strong>Appearance</strong></h3>
                    <hr class="transition hr-grey">

                    <div class="transition row padd-1">
                      <div class="transition col-md-12 box-s1">
                        <p class="transition text-center">Change Account Status<br>Current Status: {{ you.status }}</p><br>
                        <div class="transition col-md-12">
                          <form id="chg-accountstatus-form" enctype="multipart/form-data" action="/user/settingsaction/form/" method="POST">{% csrf_token %}
                            <input type="hidden" name="action" value="update account status"/>
                            <select class="middlr" name="select" required>
                              <option name="status" value="public">Public</option>
                              <option name="status" value="private">Private</option>
                            </select>
                            <br>
                            <input title="Submit Form" class="transition btn btn-info  middlr" type="button" value="Edit" ng-click="editAccountStatus()"/>
                          </form>
                        </div>
                      </div>
                    </div>

                    <div class="transition row padd-1">
                      <div class="transition col-md-12 box-s1">
                        <p class="transition text-center">Change DisplayName</p><br>
                        <div class="transition col-md-12">
                          <form id="chg-dpn-form" enctype="multipart/form-data" action="/user/settingsaction/form/" method="POST">{% csrf_token %}
                            <input type="hidden" name="action" value="update displayname"/>
                            <input type="text" name="displayname" class="transition  middlr input-t-s1" value="{{ you.displayname }}" placeholder="Ender Displayname..."/><br>
                            <input title="Submit Form" class="transition btn btn-info  middlr" type="button" value="Edit" ng-click="editDisplayName()"/>
                          </form>
                        </div>
                      </div>
                    </div>

                    <div class="transition row padd-1">
                      <div class="transition col-md-12 box-s1">
                        <p class="transition text-center">Change Avatar</p><br>
                        <ul class="transition nav nav-tabs nav-justified text-center">
                          <li role="presentation" class="transition active"><a data-toggle="tab" href="#avi-link-pane">Link</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#avi-file-pane">File</a></li>
                        </ul>
                        <br>
                        <div class="transition tab-content">
                          <div id="avi-link-pane" class="transition tab-pane in active fade">
                            <div class="transition col-md-12">
                              <form id="chg-avi-link-form" enctype="multipart/form-data" action="/user/settingsaction/form/" method="POST">{% csrf_token %}
                                <input type="hidden" name="action" value="update avi link"/>
                                <input type="text" name="avi" class="transition middlr  block input-t-s1" placeholder="Link To Avatar Image..." required/><br>
                                <input title="Submit Form" class="transition btn btn-info  middlr" type="submit" value="Edit" ng-click=""/>
                              </form>
                            </div>
                          </div>
                          <div id="avi-file-pane" class="transition tab-pane fade">
                            <div class="transition col-md-12">
                              <form id="chg-avi-file-form" enctype="multipart/form-data" action="/user/settingsaction/form/" method="POST">{% csrf_token %}
                                <input type="hidden" name="action" value="update avi file"/>
                                <input type="file" name="imageFile" class="transition middlr  btn btn-default" accept="image/*" required/><br>
                                <input title="Submit Form" class="transition btn btn-info  middlr" type="submit" value="Upload" ng-click="editAviFile()"/>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="transition row padd-1">
                      <div class="transition col-md-12 box-s1">
                        <p class="transition text-center">Change Wallpaper</p><br>
                        <ul class="transition nav nav-tabs nav-justified text-center">
                          <li role="presentation" class="transition active"><a data-toggle="tab" href="#wp-link-pane">Link</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#wp-file-pane">File</a></li>
                        </ul>
                        <br>
                        <div class="transition tab-content">
                          <div id="wp-link-pane" class="transition tab-pane in active fade">
                            <div class="transition col-md-12">
                              <form id="chg-wp-link-form" enctype="multipart/form-data" action="/user/settingsaction/form/" method="POST">{% csrf_token %}
                                <input type="hidden" name="action" value="update wp link"/>
                                <input type="text" name="background" class="transition  middlr input-t-s1" placeholder="Link To Background Image..." required/><br>
                                <input title="Submit Form" class="transition btn btn-info  middlr" type="submit" value="Edit" ng-click=""/>
                              </form>
                            </div>
                          </div>
                          <div id="wp-file-pane" class="transition tab-pane fade">
                            <div class="transition col-md-12">
                              <form id="chg-wp-file-form" enctype="multipart/form-data" action="/user/settingsaction/form/" method="POST">{% csrf_token %}
                                <input type="hidden" name="action" value="update wp file"/>
                                <input type="file" name="imageFile" class="transition middlr  btn btn-default" accept="image/*" required/><br>
                                <input title="Submit Form" class="transition btn btn-info  middlr" type="submit" value="Upload" ng-click="editWpFile()"/>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="groups-pane" class="transition tab-pane fade mk-rel">
                    <a title="Go To Create Center" href="/create"><i class="top-right fa fa-plus-square p-emp-1" aria-hidden="true"></i></a>
                    <h3 class="transition text-center"><strong>Groups</strong></h3>
                    <p class="text-center">{[ groupsList.length ]}</p>
                    <hr class="transition hr-grey">
                    <div class="transition row padd-1">
                      <div class="transition col-md-12">
                        <div ng-hide="groupsView">
                          <ul id="groups-list">
                            <li ng-repeat="g in groupsList">
                              <div class="transition ">
                                <div class="transition fill mk-rel sdw-1 padd-3" style="background-image: url('{[ g.background ]}');">
                                  <div class="transition dim-3"></div>
                                  <div class="transition mk-rel">
                                    <img class="transition sr-user-avi" src="{[ g.avi ]}"/><br>
                                    <h4 class="text-center text-lightgrey text-sdw-2"><strong>{[ g.uname ]}</strong></h4>
                                    <p class="text-center"><a class="transition" title="See {[ g.uname ]}'s Page" href="/groups/{[ g.uname ]}"><strong>See Page</strong></a></p>
                                  </div>
                                </div>
                              </div>

                              <div class="text-center">
                                <input title="Edit - {[ g.uname ]}" class="transition btn btn-info" type="button" value="Edit" ng-click="openGroupEditor(this.g)"/>
                                <input title="Add Member To - {[ g.uname ]}" class="transition btn btn-success" type="button" value="Add Member" ng-click="openGroupAddMemberEditor(this.g)"/>
                                <input title="Delete - {[ g.uname ]}" class="transition btn btn-danger" type="button" value="Delete" ng-click="deleteGroup(this.g)"/>
                              </div>
                            </li>
                          </ul>
                          <form class="transition middlr" id="delete-group-form" enctype="multipart/form-data" action="/user/settingsaction/form/" method="POST">{% csrf_token %}
                            <input type="hidden" name="action" value="delete group"/>
                            <input type="hidden" name="gid" value=""/>
                          </form>
                        </div>
                      </div>

                      <div class="transition col-md-12">
                        <div ng-hide="groupEditor">
                          <h3 class="transition text-center no-marg"><strong>Edit - {[ editGroup.uname ]}</strong></h3><br>
                          <input title="Cancel Editor" class="transition  middlr btn btn-default" type="button" value="Cancel" ng-click="cancelGroupEditor()"/>
                          <hr>
                          <form class="transition middlr" id="edit-group-form" enctype="multipart/form-data" action="/user/settingsaction/form/" method="POST">{% csrf_token %}
                            <input type="hidden" name="action" value="update group"/>
                            <h3 class="transition text-center no-marg">Info</h3>
                            <br>
                            <input class="transition input-t-s1 middlr" type="text" name="displayname" placeholder="Group Name..." id="edit-groupdisplayname" required/><br>
                            <input class="transition input-t-s1 middlr" type="text" name="uname" placeholder="Group Username..." id="edit-groupuname" required/><br>
                            <textarea style="min-height: 150px;" class="transition input-t-s1 middlr" name="desc" type="text" placeholder="Group Description..." id="edit-groupdesc" required></textarea><br>
                            <p class="transition text-center">Group Avatar</p>
                            <input type="file" name="imageFileAvi" class="transition middlr btn btn-default" accept="image/*"/><br><br>
                            <p class="transition text-center">Group Wallpaper</p>
                            <input type="file" name="imageFileWp" class="transition middlr btn btn-default" accept="image/*"/><br>
                            <hr>
                            <h3 class="transition text-center no-marg">Categories</h3>
                            <br>
                            <div class="transition row">
                              <div class="transition col-md-4">
                                <input id="new-group-cat" name="newgroupcat" class="transition middlr input-t-s1" type="text" placeholder="Category Name..." ng-model="newEditGroupCategory"/><br>
                                <input style="width: 90px;" class="transition middlr btn btn-info" value="Add" ng-click="addEditGroupCategory()"/>
                                <br><br>
                                <div ng-hide="categoryEditor">
                                  <input class="transition middlr input-t-s1" type="text" placeholder="Category Name..." ng-model="groupCategoryEditName"/><br>
                                  <span style="width: 90px;" class="transition middlr btn btn-info" ng-click="returnEditGroupCategory()"/>Edit</span><br>
                                  <span style="width: 90px;" class="transition middlr btn btn-default" ng-click="cancelEditGroupCategory()"/>Cancel</span>
                                </div>
                              </div>
                              <div class="transition col-md-8">
                                  <ul class="transition ul-raw user-s-list">
                                    <li ng-repeat="c in editGroup.categories">
                                      <p>{[ c ]}</p>
                                      <span class="transition btn btn-warning " ng-click="editGroupCategory(this.c)">Edit</span>
                                      <span class="transition btn btn-danger " ng-click="deleteGroupCategory(this.c)">Delete</span>
                                    </li>
                                  </ul>
                              </div>
                            </div>
                            <input id="edit-groupcategories" name="categories" type="hidden"/>
                            <input id="edit-groupid" name="gid" type="hidden"/>
                            <hr class="hr-grey">
                            <input class="transition middlr btn btn-info " type="button" value="Update" ng-click="checkGroupUserName()"/>
                          </form>
                        </div>

                        <div ng-hide="groupAddMemberEditor">
                          <h3 class="transition text-center no-marg"><strong>Add Member To - {[ editGroup.uname ]}</strong></h3><br>
                          <input title="Cancel Editor" class="transition  middlr btn btn-default" type="button" value="Cancel" ng-click="cancelGroupAddMemberEditor()"/>
                          <hr>
                          <div class="col-md-4">
                            <div style="margin-bottom: 15px;">
                              <h3 class="text-center">Search</h3>
                              <br>
                              <input style="width: 375px; max-width: 90%;" type="text" class="middlr input-t-s1 ng-pristine ng-valid ng-touched" placeholder="Search By Username..." ng-model="searchQuery"><br>
                              <input type="button" class="middlr transition btn btn-info" value="Submit" ng-click="searchForMembers()">
                            </div>
                          </div>
                          <div class="col-md-8">
                            <ul id="sr-members-list" class="ul-raw">
                              <li ng-repeat="m in srMembersList">
                                <div class="row">
                                  <div class="col-xs-6">
                                    <img class="polaroid-2 sr-members-img middlr" src="{[ m.avi ]}"/>
                                  </div>
                                  <div class="col-xs-6 text-center">
                                    <h4><strong><a class="transition" title="See {[ m.uname ]}'s Page" href="/users/{[ m.uname ]}">{[ m.uname ]}</a></strong></h4>
                                    <a title="{[ m.msg ]}" data-status="{[ m.status ]}" class="transition follow-status btn btn-{[ m.btn ]}" ng-click="groupAction( this.m )">{[ m.msg ]}</a>
                                  </div>
                                </div>
                                <hr>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="del-pane" class="transition tab-pane fade">
                    <h3 class="transition text-center"><strong>Delete</strong></h3>
                    <hr class="transition hr-grey">
                    <p>Delete Account?</p>
                    <span class="transition btn btn-danger " ng-click="deleteAccount()">Delete <i class="transition fa fa-trash" aria-hidden="true"></i></span>
                    <form class="transition " id="deleteaccount-form" enctype="multipart/form-data" action="/user/settingsaction/form/" method="POST">{% csrf_token %}
                      <input type="hidden" name="action" value="delete account"/>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="transition col-md-12"><br></div>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
