<!DOCTYPE html>
<html>

<head>
  <title>Epsity | Settings</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}

  {% include 'dependencies-1.html' %}

  <link rel="stylesheet" type="text/css" href="/static/css/grand.css">
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
  <link rel="icon" size="20x20" href="/static/img/logo-2.png"/>
  <script src="/static/js/grand.js"></script>
  <script src="/static/js/profile.js"></script>
  <script src="/static/js/controllers/user-settings-ctrl.js"></script>
</head>

  <body ng-app="epsityApp" ng-controller="settingsCtrl" class="transition">

    {% include 'topbar-1.html' %}

    <!--  -->

    <div id="main-container">
      <div id="mc-inner" class="">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-12" style="min-height: 25px;"><p class="text-center" style="padding: 15px;">{{ message }}</p></div>
            <!--  -->

            <div class="col-md-3">
              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <img class="polaroid-2 middlr" src="{{ you.avi }}"/>
                <h3 class="text-center"><strong>{{ you.uname }}</strong></h3>
                <p class="text-center">{{ you.displayname }}</p>
              </div>

              <div class="padd-1 mk-rel sdw-1 sbm-1 bg-white">
                <ul class="nav nav-pills nav-stacked text-center">
                  <li role="presentation" class="active"><a data-toggle="tab" href="#bio-pane">Bio</a></li>
                  <li role="presentation"><a data-toggle="tab" href="#int-pane">Info</a></li>
                  <li role="presentation"><a data-toggle="tab" href="#apr-pane">Appearance</a></li>
                  <li role="presentation"><a data-toggle="tab" href="#del-pane">Delete</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-9" style="min-height: 75vh;">
              <div>
                <div class="tab-content padd-1 mk-rel sdw-1 sbm-1 bg-white">
                  <div id="bio-pane" class="tab-pane fade in active">
                    <div>
                      <h3 class="text-center"><strong>Bio</strong></h3>
                      <hr>
                      <p class="text-center">Edit Your Bio<br>Max Length: 150 Characters.</p>
                      <br>
                      <form class="middlr" id="bio-form" enctype="multipart/form-data" action="/user/settingsaction/" method="POST">{% csrf_token %}
                        <textarea class="middlr" id="update-bio-content" name="bio" placeholder="Bio Message...">{{ you.bio_desc }}</textarea>
                        <input type="hidden" name="action" value="update bio"/>
                        <br>
                        <input ng-hide="updateBioBtn" title="Update Bio" class="middlr transition btn btn-info" type="button" value="Update" ng-click="updateAccountBio()"/>
                        <br>
                        <img width="125px" src="/static/img/ajax-loading-big.gif" ng-hide="updateBioImg"/>
                        <p class="text-center">{[ updateBioMsg ]}</p>
                      </form>
                    </div>
                  </div>

                  <div id="int-pane" class="tab-pane fade">
                    <h3 class="text-center"><strong>Info</strong></h3>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-12"><h4>Interests</h4><br></div>
                        <div class="col-md-4">
                          <input class="block input-t-s1" type="text" placeholder="Add Interest" ng-model="newInterest"/><br>
                          <input class="block btn btn-info transition" type="button" value="Add" ng-click="addNewInterest()"/><br>
                          <p><strong>{[ interestMsg ]}</strong></p>
                          <br>
                          <div ng-hide="editInterestForm">
                            <p>Edit Interest</p>
                            <input class="block input-t-s1" type="text" placeholder="Edit Interest" ng-model="editInterest"/><br>
                            <input class="btn btn-info transition" type="button" value="Edit" ng-click="confirmEditInterest()"/>
                            <input class="btn btn-default transition" type="button" value="Cancel" ng-click="cancelAddItem('interest')"/><br>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <ul class="ul-raw user-s-list" id="">
                            <li class="transition" ng-repeat="i in interestsList">
                              <p>{[ i ]}</p>
                              <span class="btn btn-warning transition" ng-click="editInterestItem(this.i)">Edit</span>
                              <span class="btn btn-danger transition" ng-click="deleteListItem(this.i, 'interest')">Delete</span>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-md-12"><hr></div>

                      <div class="col-md-12">
                        <div class="col-md-12"><h4>Seeking</h4><br></div>
                        <div class="col-md-4">
                          <input class="block input-t-s1" type="text" placeholder="Add Seeking" ng-model="newSeeking"/><br>
                          <input class="block btn btn-info transition" type="button" value="Add" ng-click="addNewSeeking()"/><br>
                          <p><strong>{[ seekingMsg ]}</strong></p>
                          <br>
                          <div ng-hide="editSeekingForm">
                            <p>Edit Seeking</p>
                            <input class="block input-t-s1" type="text" placeholder="Edit Seeking" ng-model="editSeeking"/><br>
                            <input class="btn btn-info transition" type="button" value="Edit" ng-click="confirmEditSeeking()"/>
                            <input class="btn btn-default transition" type="button" value="Cancel" ng-click="cancelAddItem('seeking')"/><br>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <ul class="ul-raw user-s-list" id="">
                            <li class="transition" ng-repeat="s in seekingList">
                              <p>{[ s ]}</p>
                              <span class="btn btn-warning transition" ng-click="editSeekingItem(this.s)">Edit</span>
                              <span class="btn btn-danger transition" ng-click="deleteListItem(this.s, 'seeking')">Delete</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="apr-pane" class="tab-pane fade">
                    <h3 class="text-center"><strong>Appearance</strong></h3>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <p class="text-center">Change DisplayName</p><br>
                        <div class="col-md-12">
                          <form id="chg-dpn-form" enctype="multipart/form-data" action="/user/settingsaction/" method="POST">{% csrf_token %}
                            <input type="hidden" name="action" value="update displayname"/>
                            <input type="text" name="displayname" class="transition middlr input-t-s1" value="{{ you.displayname }}" placeholder="Ender Displayname..."/><br>
                            <input title="Submit Form" class="btn btn-info transition middlr" type="button" value="Edit" ng-click="editDisplayName()"/>
                          </form>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <p class="text-center">Change Avatar</p><br>
                        <ul class="nav nav-tabs nav-justified text-center">
                          <li role="presentation" class="active"><a data-toggle="tab" href="#avi-link-pane">Link</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#avi-file-pane">File</a></li>
                        </ul>
                        <br>
                        <div class="tab-content">
                          <div id="avi-link-pane" class="tab-pane in active fade">
                            <div class="col-md-12">
                              <form id="chg-avi-link-form" enctype="multipart/form-data" action="/user/settingsaction/" method="POST">{% csrf_token %}
                                <input type="hidden" name="action" value="update avi link"/>
                                <input type="text" name="avi" class="middlr transition block input-t-s1" placeholder="Link To Avatar Image..." required/><br>
                                <input title="Submit Form" class="btn btn-info transition middlr" type="submit" value="Edit" ng-click=""/>
                              </form>
                            </div>
                          </div>
                          <div id="avi-file-pane" class="tab-pane fade">
                            <div class="col-md-12">
                              <form id="chg-avi-file-form" enctype="multipart/form-data" action="/user/settingsaction/" method="POST">{% csrf_token %}
                                <input type="hidden" name="action" value="update avi file"/>
                                <input type="file" name="imageFile" class="middlr transition btn btn-default" accept="image/*" required/><br>
                                <input title="Submit Form" class="btn btn-info transition middlr" type="submit" value="Upload" ng-click="editAviFile()"/>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <p class="text-center">Change Wallpaper</p><br>
                        <ul class="nav nav-tabs nav-justified text-center">
                          <li role="presentation" class="active"><a data-toggle="tab" href="#wp-link-pane">Link</a></li>
                          <li role="presentation"><a data-toggle="tab" href="#wp-file-pane">File</a></li>
                        </ul>
                        <br>
                        <div class="tab-content">
                          <div id="wp-link-pane" class="tab-pane in active fade">
                            <div class="col-md-12">
                              <form id="chg-wp-link-form" enctype="multipart/form-data" action="/user/settingsaction/" method="POST">{% csrf_token %}
                                <input type="hidden" name="action" value="update wp link"/>
                                <input type="text" name="background" class="transition middlr input-t-s1" placeholder="Link To Background Image..." required/><br>
                                <input title="Submit Form" class="btn btn-info transition middlr" type="submit" value="Edit" ng-click=""/>
                              </form>
                            </div>
                          </div>
                          <div id="wp-file-pane" class="tab-pane fade">
                            <div class="col-md-12">
                              <form id="chg-wp-file-form" enctype="multipart/form-data" action="/user/settingsaction/" method="POST">{% csrf_token %}
                                <input type="hidden" name="action" value="update wp file"/>
                                <input type="file" name="imageFile" class="middlr transition btn btn-default" accept="image/*" required/><br>
                                <input title="Submit Form" class="btn btn-info transition middlr" type="submit" value="Upload" ng-click="editWpFile()"/>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="del-pane" class="tab-pane fade">
                    <h3 class="text-center"><strong>Delete</strong></h3>
                    <hr>
                    <p>Delete Account?</p>
                    <span class="btn btn-danger transition" ng-click="deleteAccount()">Delete <i class="fa fa-trash" aria-hidden="true"></i></span>
                    <form class="" id="deleteaccount-form" enctype="multipart/form-data" action="/user/settingsaction/" method="POST">{% csrf_token %}
                      <input type="hidden" name="action" value="delete account"/>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12"><br></div>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
